//_mediumscreen.scss

// Medium screens
@media only screen and (min-width: 40.063em) { 



.optWrapWidth{
	max-width: 510px;
	margin:auto;
}


.optWrap{
	 padding:25px;
}

.optButtonHolder{
 margin-right: 40px;
 margin-left: 40px;
}

.optButton, .optButton:hover{
	font-size: 24pt;
	}



  } /* min-width 641px, medium screens */