
/*Style.scss*/

@import 'bower_components/normalize-css/normalize.css';
@import 'foundation';



/* variables
---------------------------------------------------------- */


/*--- BG colors--*/
$pageGrey:#CCC;
$optinWrap:#fffffd;
$optBox:#f7f7f7;
$siteContainerWhite:#fffffe;
$headerBgColor:transparent;
$overlay: #00000A;
$grey: #656564;
$grey2: #383838;
$grey3: #383837;
$greyBlue:#A9ABAD;
$lightGrey: #D8D8D8;
$grey-hover:#999;
$yellow: rgba(255, 189, 14, 1);
$lightblue: #7DCEEC;
$white: #ffffff;
$box: rgba(0,0,0,0.15);
$faBlue: #2E5884;
$black: #000001;
$bulletTop:#4FA5FF;
$bulletBtm:#0068D9;

/*--- Buttons--*/

$buttonColor:#FF9C00;
$buttonColor2:#FF5C00;
$buttonColor2Hover:#FF5C01;
$buttonColorGradient:#FF7400;
$buttonColorHover:#FF9C01;

/*--- Block Grid --*/
$block-grid-elements: 12;
$block-grid-default-spacing: rem-calc(0);



/*--- Bullet Lists--*/
$headerBullets:#ffffff;
$bulletSquare:#666666;
$bulletSquare2:$grey;
$bulletNumber2:#fffffd;
$bulletLine:#d4d4d3;




/*--- Font Variables--*/

$Oswald: Oswald, sans-serif;
$Lato: Lato,sans-serif;
$h1Family: 'Noto Sans', Arial, helvetica, sans-serif;
$h2Family: 'Noto Sans', Arial, helvetica, sans-serif;
$h3Family: 'Noto Sans', Arial, helvetica, sans-serif;
$sectionSubHead: Arial, helvetica, sans-serif;


$h1Color:#272727;
$h2Color:#272727;
$h3Color:#272727;
$pColor:#595757;

$hand:#C00A13;
$handsize:31px;


/*--- section1--*/
$sectionLeftText:'Roboto Slab',Arial, helvetica, sans-serif;


/*--- Section 2--*/
$section2Head:#C00;
$section2HeadFam: Arial, helvetica, sans-serif;



/*--- Section 6--*/
$section6aHead:#9C0202;
$section6aBodyHead:#C00A12;
$section6aBodyBody:#595756;
$section6Font: sans-serif; 

/* sitewide
---------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
.row{
	max-width: 550px;
}
.rowLg{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
  .row{
    max-width: calc(1000px);
    margin: auto;
  }
}

.clearfix:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.section:before,
.wrap:before {
	content: " ";
	display: table;
}

.clearfix:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.section:before,
.wrap:after {
	clear: both;
	content: " ";
	display: table;	
}

img {
	max-width: 100%;
}

body {
	background: $pageGrey;
	color: #111111;
	font-size: 18px;
	font-family: 'Georgia', serif;
	text-align: center;
	margin:auto;
}
.cb{
	clear:both;
}

.optWrap{
   background-color: $optinWrap;
   margin-top: 20px;
   box-shadow: #333 0px 0px 15px;
  padding:5px;

}



.optText{
	//padding-top: 20px;
	
	font-size: 19pt;
  font-weight: bold;
  }

.textBlue{
color: #000099;
}


.optBox{
  border: 3px dashed #000099;
  background-color: $optBox;
  margin-top: 20px;
  margin-bottom: 20px;
}

.optButtonHolder{
	margin-top: 50px;
  margin-bottom: 50px;
}

.optButton, .optButton:hover{
  background: linear-gradient(to bottom, rgba(252,180,8,1) 0%,rgba(255,96,0,1) 100%);
  color: #003;
  padding: 5px;
  border: 1px solid #900;
  cursor: pointer;
    text-shadow: #FF9 1px 1px 0px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #333333;
  font-weight: bold;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb408', endColorstr='#ff6000',GradientType=0 );
  font-size: 20pt;		
  //margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0;
  width: auto;
  margin-left: auto;
  font-family: "Arial Black", Arial, Gadget, sans-serif;
  width:100%;
}



/*Style.scss*/

@import 'mediumscreen';
@import 'largescreen';
@import 'XLargecreen'